---
# We'll use defaults from the LLVM style
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html for documentation
BasedOnStyle: LLVM

Language: Cpp

AlignAfterOpenBracket: Align
#AlignArrayOfStructures: Right ==> should work in V13, for some reason it doesn't
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveBitFields: AcrossEmptyLinesAndComments
AlignConsecutiveMacros: AcrossComments
AlignEscapedNewlines: Left
AlignTrailingComments: true

AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None

BinPackArguments: true
BinPackParameters: true

BitFieldColonSpacing: Both

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeTernaryOperators: false

ColumnLimit: 110
CompactNamespaces: false
Cpp11BracedListStyle: true

DerivePointerAlignment: false
PointerAlignment: Right
#ReferenceAlignment: Right ==> needs V14

FixNamespaceComments: true

IncludeBlocks: Regroup
SortIncludes: true
IncludeCategories:
  - Regex:           '["<]{1}sdkconfig.h[>"]{1}'
    Priority:        -2
    SortPriority:    -3
  - Regex:           '["<]{1}freertos\/.*\.h[>"]{1}'
    Priority:        -2
    SortPriority:    -2
  - Regex:           '<[a-zA-Z]{1}.*\.h>'
    Priority:        -1
  - Regex:           '".*\.h"'
    Priority:        1
  - Regex:           '["<]{1}[0-9]{1}_.*\.h[>"]{1}'
    Priority:        2

IndentWidth: 4
ContinuationIndentWidth: 2
IndentWrappedFunctionNames: true
#PPIndentWidth: -1 ==> needs V14
TabWidth: 4
IndentCaseBlocks: true
IndentCaseLabels: false
IndentExternBlock: false
IndentPPDirectives: BeforeHash

InsertTrailingCommas: None

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

ReflowComments: true

PenaltyBreakAssignment: 50
PenaltyBreakBeforeFirstCallParameter: 50
PenaltyBreakComment: 40000000
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyBreakTemplateDeclaration: 10
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 60
PenaltyIndentedWhitespace: 0

SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeParens: Never
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false

UseTab: Never

# CPP specific
NamespaceIndentation: Inner
SortUsingDeclarations: true
SpaceAfterTemplateKeyword: false
SpaceBeforeCaseColon: false
SpaceBeforeRangeBasedForLoopColon: false
#SpacesInAngles: false ==> needs V14
